@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
  --color-neutral-50: #fafafa;
  --color-neutral-950: #0a0a0a;

  --font-sans: var(--font-inter), ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-serif: var(--font-playfair), ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;

  --animate-fade-in: fade-in 1.5s ease-out forwards;
  --animate-fade-in-up: fade-in-up 1.5s ease-out forwards;

  @keyframes fade-in {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }

  @keyframes fade-in-up {
    0% {
      opacity: 0;
      transform: translateY(2rem);
    }

    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-sans);
}
body { font-family: var(--font-inter); overflow-x: hidden; width: 100vw; }